<article class="workout">
  <h3 class="workout-date">{{# beautify_date }}{{ date }}{{/ beautify_date }}</h3>
  <h4 class="workout-title">{{ title }}</h4>
  <ul class="workout-exercises">
    {{#each exercises}}
      <li class="workout-exercise">
        <p class="workout-exercise-title">{{ title }}</p>
        <p class="workout-exercise-details">{{ sets }}x{{ reps }} @{{ weight }}lb</p>
      </li>
    {{/each}}
  </ul>
</article>