<h3>{{ title }}</h3>

<input name="title" type="text" class="exercise-title" placeholder={{ exerciseTitle.placeholder }}>
<input name="reps" type="number" class="exercise-reps" placeholder={{ exerciseReps.placeholder }}>
<input name="sets" type="number" class="exercise-sets" placeholder={{ exerciseSets.placeholder }}>
<input name="weight" type="number" class="exercise-weight" placeholder={{ exerciseWeight.placeholder }}>

<button id="add-exercise">{{ addExerciseButton.text }}</button>