<p class="add-workout--exercises-total">{{ exercisesTotalCount.text }} <span id="exercises-total">{{ exercisesTotalCount.initialCount }}</span> </p>

<input name="title" type="text" class="add-workout--exercise-title" placeholder="{{ exerciseTitle.placeholder }}">
<input name="sets" type="number" class="add-workout--exercise-sets" placeholder="{{ exerciseSets.placeholder }}">
<input name="reps" type="number" class="add-workout--exercise-reps" placeholder="{{ exerciseReps.placeholder }}">
<input name="weight" type="number" class="add-workout--exercise-weight" placeholder="{{ exerciseWeight.placeholder }}">

<button id="add-exercise">{{ addExerciseButton.text }}</button>